<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-ffiupupq64ke4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cbe8b774-7741-4f45-bcb8-8fcce2d749d8/resourceGroups/hands-on-lab/providers/Microsoft.Web/sites/TollBoothFunctions-ffiupupq64ke4</ResourceId>
    <UserName>$TollBoothFunctions-ffiupupq64ke4</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-ffiupupq64ke4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>